@import "tailwindcss";

@theme {
  --color-brand-100: #f5d6ea;
  --color-brand-300: #e57bc5;
  --color-brand-500: #be2891;
  --color-brand-900: #55123d;
  --color-brand-950: #34002b;

  --color-silver-300: #e2e8f0;
  --color-silver-400: #cbd5e1;
  --color-silver-500: #C0C0C0;
  --color-silver-600: #94a3b8;

  --animate-zoom-in-out: zoom-in-out 3s ease-in-out infinite;

  @keyframes zoom-in-out {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.1);
    }
  }

  --animate-marquee: marquee 40s linear infinite;
  --animate-marquee-reverse: marquee-reverse 40s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-50%);
    }
  }

  @keyframes marquee-reverse {
    from {
      transform: translateX(-50%);
    }

    to {
      transform: translateX(0);
    }
  }

  --animate-gradient-move: gradient-move 3s ease infinite;

  @keyframes gradient-move {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

@layer utilities {
  .growth-gradient {
    background: linear-gradient(-45deg, #be2891, #f5d6ea, #be2891, #55123d);
    background-size: 300% 300%;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: var(--animate-gradient-move);
  }
}

@layer base {
  body {
    @apply bg-black text-white antialiased selection:bg-[#34002b] selection:text-white;
  }
}

.text-gradient-premium {
  @apply bg-clip-text text-transparent bg-gradient-to-r from-white via-zinc-200 to-zinc-400;
}